nltk
pysrt
pandas
openai
kaleido
python-docx
trafilatura
wikitextparser
streamlit-extras
seaborn
tensorflow-datasets
transformers
scikit-learn
datasets
spacy
tensorflow==2.11.1
transformers==4.27.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl